@page "/"

<MudText Align="Align.Left" Typo="Typo.h2">Hello, I am Matt Perez</MudText>
<div>
<MudText Align="Align.Left" Typo="Typo.subtitle1">I am a .NET Developer who loves to code, play video games, and eat Pizza. Please take a look at my projects and let me know what you think.</MudText>
</div>


