@page "/"

<div class="row">
    <div class="col-6">
        <ToDoList.Pages.Components.ToDo HeaderName ="Daily Task(s)"> 

        </ToDoList.Pages.Components.ToDo>
    </div>

    <div class="col-6">
        <ToDoList.Pages.Components.ToDo HeaderName ="Monthly Task(s)">

        </ToDoList.Pages.Components.ToDo>
    </div>
</div>