@page "/ToDoPage"

<MudPaper Class="pa-16 ma-2" Elevation="3">
<h3>To Do Application</h3>
<p>Add Items to your To Do List. Click an item to toggle its completed status.</p>
<div class="row">
    <div>
        <ToDoList.Pages.Components.ToDo HeaderName = "Tasks"> 

        </ToDoList.Pages.Components.ToDo>
    </div>
</div>
</MudPaper>

@code
{
    string result = "Daily Task(s)/n";
}