@page "/ToDoPage"
<h3>To Do Application</h3>
<p>Add Items to your weekly and or monthly To Do List. Click an item to toggle its completed status.</p>
<div class="row">
    <div class="col-6">
        <ToDoList.Pages.Components.ToDo HeaderName ="Daily Task(s)"> 

        </ToDoList.Pages.Components.ToDo>
    </div>

    <div class="col-6">
        <ToDoList.Pages.Components.ToDo HeaderName ="Monthly Task(s)">

        </ToDoList.Pages.Components.ToDo>

    </div>
        
</div>

@code {

}
